$primaryPurple: #9058BF;
$secondaryPurple: #56168C;
$complementaryPurple: #8888F2;
$white: #F7F7FA;
$grey: #F2F2F2;
$iconGrey: #7E7E7E;
$black: #212121;

.color-grey {
    color: $grey;
}

.bg-color-grey {
    background-color: $grey;
}

.color-iconGrey {
    color: $iconGrey;
}